<!doctype html>
<html class="{{#is 'landing' this.basename}}landing{{/is}}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{title}}{{#contains 'landing' this.basename}} › Front-end Web Development, Interaction & Design{{/contains}}</title>
    <meta name="description" content="{{description}}">

    {{#if (isEnv "production")}}
    <meta name="robots" content="all">
    {{else}}
    <meta name="robots" content="none">
    {{/if}}

    <meta name="author" content="{{site.author}}">
    <meta name="Copyright" content="©{{year}}. All Rights Reserved.">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-tap-highlight" content="no">

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:type" content="profile">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:image" content="{{site.url}}/ograph.png">
    <meta property="og:description" content="{{site.description}}">
    <meta property="fb:admins" content="1">

    <link rel="author" href="http://droidpinkman.io/humans.txt">

    <!-- build:css {{site.root}}/css/style.min.css -->
    <link rel="stylesheet" href="{{site.root}}/css/site.css">
    <!-- endbuild -->
  </head>
  <body>
    <header role="banner">
      {{> logo}}

      <span class="tcon-indicator" aria-label="scroll" aria-hidden="true">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="tcon-svgchevron" viewBox="0 0 30 36">
          <path class="a3" d="M0,0l15,16L30,0"></path>
          <path class="a2" d="M0,10l15,16l15-16"></path>
          <path class="a1" d="M0,20l15,16l15-16"></path>
        </svg>
      </span>
    </header>

    <main class="l-container" role="main">
      {% body %}
    </main>

    {{> footer}}
  </body>
</html>
